.square {
    background: white;
    border: 1px solid gray;
    float: left;
    width: 35px;
    height: 35px;
    margin-right: -1px;
    margin-top: -1px;
}

.square:focus {
    outline: none;
}

.salvo-result-kill {
    border: 3px dashed #ff0078;
}

.salvo-result-hit {
    border: 3px dashed #ff7600;
}

.salvo-result-miss {
    border: 3px dashed #6495ed;
}

.salvo-shot {
    background: #b60cff;
}

.hit {
    background: #ff0078;
}

.ship {
    background: #6495ed;
}

.miss {
    background: #ffe05c;
}

.empty {
    background: #ffffff;
}
