.game-status {
    margin: 0 auto;
}

.legend {
    margin: 0 auto;
}

.legend div {
    width: 10%;
    display: inline-block;
}

.board-wrapper {
    width: 50%;
    display: inline-block;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30vmin;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
