.App {
    margin: 2% auto;
    text-align: center;
    width: 50%;
}

.my-link {
    color:#000000;
    text-decoration: none;
}

.my-link:hover {
    background: #ffe05c;
    color: #6495ed;
    font-weight: bold;
}
