.player {
    margin: 10px 5px auto;
    width: 28.5%;
    border: 2px solid gray;
    padding: 10px;
    float: left;
}

.player:hover {
    background: #6495ed;
}

.selected {
    pointer-events: none;
    background: #ff0078;
}
